html {
    background-color: rgb(0, 8, 85);
    color: white;
    padding: 0;
    margin: 0;
    transition: background 250ms;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    text-align: center;
}

#operation-choice button {
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;
}

.answer {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    min-width: 1rem;
    min-height: 2rem;
}

.correct {
    background-color: greenyellow;
}

.numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
}

.numpad button {
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
}

.zero {
    grid-column-start: 2;
    grid-column-end: 2;
}

.game-over {
    background-color: red;
}

.removed {
    display: none;
}

.hidden {
    visibility: hidden;
}