.global-score-display {
    background-color: white;
    color: black;
    padding: 1rem;
    border-radius: 10px;
}

.global-score-display table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.global-score-display h2 {
    margin: 0.5rem;
    border-bottom: 2px solid black;
}

.global-score-display th, .global-score-display td {
    padding: 0.5rem 1rem;
}

.global-score-display th {
    background-color: #f0f0f0;
}

.global-score-display tr {
    background-color: #cecece;
    transition: background-color 0.2s ease;
}

.global-score-display tr:hover {
    background-color: #f9f9f9;
}