#operation-choice button:not(.selected):hover {
    background-color: initial;
    transform: none;
}

.profile-options {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 10px;
}

#operation-choice {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

#operation-choice h2 {
    color: black;
}

#operation-choice p {
    color: black;
}

#operation-choice button {
    margin: 0 5px;
    width: 50px;
}

#operation-choice .selected {
    background-color: green;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    color: black;
}

#settings input[type="checkbox"] {
    cursor: pointer;
}

.timer,
.count {
    transition: all 0.2s ease;
}