.user-achievements {
    justify-content: center;
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}

.achievement-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
}

.achievement-item {
    background-color: white;
    border: double 5px black;
    padding: 0.5rem;
    border-radius: 5px;
}

.achievement-item.achieved {
    background-color: greenyellow;
}